<h2>FARM DETAILS</h2>
<section>
  <div class="container">
    <div class="profile">
      <div class = "row">
        <div class = "col-md-3">
          <h3>Our Standards</h3>
          <% farmer.standards.forEach(function(s) { %>
            <div class="capitalize">
              <%= s %>
            </div>
          <% }) %>
        </div>
        <div class = "col-md-9">
          <h3>What We Have</h3>
          <% farmer.products.forEach(function(p) { %>
            <div class="capitalize col-xs-2">
              <p class="glyphicon glyphicon-check"><%= p %></p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="wrapper">
  <div class = 'row'>
    <div id = "location" class = "col-lg-5">
      <div>
        <h2>WHO WE ARE</h2>
        <p class="text-justify"><%= farmer.bio %></p>
      </div>
      <br>
      <h2>CONTACT</h2>
      <h3><span class="glyphicon glyphicon-grain"></span> <%= farmer.farm_name %></h3>
      <p><span class="glyphicon glyphicon-earphone phone"></span> <%= farmer.phone %></p>
      <h3 id="addressStreet"><span class="glyphicon glyphicon-map-marker"></span>
      <%= farmer.address.street %><br>
      <small id="addressCity" class="address">
      <%= farmer.address.city %>, <%= farmer.address.state %> <%= farmer.address.zipcode %></small></h3>
    </div>
    <!-- <div class = "col-lg-6"> -->
      <div id="map" class = "col-lg-6" style="width: 640px; height: 450px;"></div>
    <!-- </div> -->
  </div>
  <div class="row-btn">
    <div class="col-md-8 col-md-offset-1">
     <a href="/" class="btn btn-primary">Back</a>
      <% if (currentFarmer) { %>
        <a href="/farmers/<%= farmer._id %>/edit" class="btn btn-success">Edit your details</a>
      <% } %>
    </div>
  </div>
</div>
