<h2>PROFILE</h2>
<div class="container">
  <div class="profile">
    <div class = "row">
      <div class = "col-md-3">
        <h3>Our Standards</h3>
        <% farmer.standards.forEach(function(s) { %>
          <div class="capitalize">
            <%= s %>
          </div>
        <% }) %>
      </div>
      <div class = "col-md-9">
        <h3>What We Have</h3>
        <% farmer.products.forEach(function(p) { %>
          <div class="capitalize col-xs-2">
            <p class="glyphicon glyphicon-check"><%= p %></p>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class = 'row'>
    <div id = "location" class = "col-lg-5">
      <h2>CONTACT</h2>
      <h3 class="glyphicon glyphicon-grain"><%= farmer.farm_name %></h3>
      <br>
      <p class="glyphicon glyphicon-user"> <%= farmer.name %></p>
      <br>
      <p class="glyphicon glyphicon-earphone"> <%= farmer.phone %></p>
      <br><br>
      <h3 class="glyphicon glyphicon-map-marker">Our Location</h3>
      <h3 id="addressStreet" class="address"><%= farmer.address.street %><br>
      <small id="addressCity">
      <%= farmer.address.city %>, <%= farmer.address.state %> <%= farmer.address.zipcode %></small></h3>
    </div>
    <!-- <div class = "col-lg-6"> -->
      <div id="map" class = "col-lg-6" style="width: 640px; height: 450px;"></div>
    <!-- </div> -->
  </div>
  <div class="row-btn">
    <div class="col-md-8 col-md-offset-1">
     <a href="/" class="btn btn-primary">Back</a>
      <% if (currentFarmer) { %>
        <a href="/farmers/<%= farmer._id %>/edit" class="btn btn-success">Edit your details</a>
      <% } %>
    </div>
  </div>
</div>
